/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

figure {
	margin: auto !important;
}


.wp-block-cgb-block-algori-360-video-controls {
  width:100%; 
  text-align:center;
}