/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-algori-360-video  {
  width: 100%;
}

.wp-block-cgb-block-algori-360-video-embedded-scene  {
  width: 600px;
  height: 300px;
}

.wp-block-cgb-block-algori-360-video-controls {
  width:600px; 
  text-align:center;
}