/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-algori-360-video-block-algori-360-video  {
	max-width: 100%;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.wp-block-algori-360-video-block-algori-360-video.alignfull,
.wp-block-algori-360-video-block-algori-360-video.alignwide {
	/*width: 100%;*/
}

.wp-block-algori-360-video-block-algori-360-video.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1em;
}

.wp-block-algori-360-video-block-algori-360-video.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1em;
}

.wp-block-algori-360-video-block-algori-360-video.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-algori-360-video-block-algori-360-video-controls {
  width:100%; 
  text-align:center;
}

/* disable AR mode */
div.a-enter-ar {
  visibility: hidden;
}



